*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(179, 178, 178)
}

#container h1{
    margin: 20px;
    font-size: 3rem;
    font-family: 'Bree Serif', serif;
    
}
#main{
    margin: 20px 0px; 
    display: grid;
            grid-gap: 0.5rem;
            grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
            justify-content: center;
            text-align: center;
}
#main .box{
    margin: 10px 10px;
    /* border: 2px solid rgb(59, 43, 43); */
    padding: 25px;
    margin: 50px 30px;
    border-radius: 18px;
    background-color:rgb(243, 240, 240);
    margin-bottom: 20px;

}
#main .box h2{
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
    
    
}
#main .box p{
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#main .box a{
    text-decoration: none;
    color: black;
}

#button1{
    margin: 20px 0px;
    text-align: center;
    justify-content: center;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
  }
/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn{
    margin: 15px 0px;
    background-color: black;
    color: white;
    padding: 6px 200px;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
}

.center{
    text-align: center;
}
